<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="basics">
            <section name="core" type="Basics.Config.CoreSection, Basics" />
        </sectionGroup>
    </configSections>

    <basics>
        <core>
            <container builder="Basics.Containers.Autofac.AutofacContainerBuilder, Basics.Containers.Autofac">
                <logger type="Basics.Logging.Log4Net.Log4NetLogger, Basics.Logging.Log4Net" />
                <auditor type="Basics.Logging.Log4Net.Log4NetAuditor, Basics.Logging.Log4Net" />
                <cache type="Basics.Caching.InMemory.InMemoryCache, Basics.Caching.InMemory" />
                <distributed-cache type="Basics.Caching.Redis.RedisLogger, Basics.Caching.Redis" />
            </container>
        </core>
    </basics>
</configuration>