<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="basics">
            <section name="dapper" type="Basics.Data.Dapper.Config.DapperSection, Basics.Data.Dapper" />
        </sectionGroup>
    </configSections>

    <basics>
        <dapper search-query-builder="Basics.Data.Dapper.SqlServer.SqlServerSearchQueryBuilder, Basics.Data.Dapper.SqlServer" />
    </basics>
</configuration>