<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <sectionGroup name="basics">
            <section name="core" type="Basics.Config.CoreSection, Basics" />
        </sectionGroup>
    </configSections>

    <basics>
        <core>
            <container builder="Basics.Containers.Autofac.AutofacContainerBuilder, Basics.Containers.Autofac" />
        </core>
    </basics>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>